<div class="container theme-showcase" role="main">
  <h1 class="page-header">Payment and Shipping : Ati</h1>
  
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Supplier</th>
          <th>Item</th>
          <th>Color</th>
          <th>Cost</th>
          <th>Price</th>
          <th>Paid</th>
          <th>Sent</th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <th>Total</th>
          <th>100</th>
          <th>130</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>15/01/14</td>
          <td>SR</td>
          <td>R312 batwing</td>
          <td>Pink</td>
          <td>54</td>
          <td>66</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
        <tr>
          <td>15/01/14</td>
          <td>SR</td>
          <td>R312 batwing</td>
          <td>Pink</td>
          <td>54</td>
          <td>66</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail2">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Shipping Date">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputPassword2">Payment Date</label>
      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Payment Date">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

</div>