/* app css stylesheet */
body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.button-dashboard-half {
  width: 49%;
}

.button-dashboard-full {
  width: 100%;
}

.pagination {
  margin: 0px !important;
}

.input-mysize { 
  width: 100px !important;
}