<div class="container theme-showcase" role="main">
<h2 class="page-header">Create Orders <small><a href="#/orders/search">search order</a></small></h2>
  
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  
  <form name="createOrdersForm" ng-submit="saveOrders()" novalidate>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Customer</th>
          <th>Dropship</th>
          <th>Supplier</th>
          <th>Item</th>
          <th>Colour</th>
          <th>Cost</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in newOrders">
          <td><input class="form-control" ng-model="order.date" show-weeks="false" datepicker-popup="d/MM/yy" max="maxDate" ng-required="true"/></td>
          <td><input type="text" name="customer" class="form-control" ng-model="order.customer.id" typeahead="customer.id for customer in customers | filter:$viewValue | limitTo:8"></td>
          <td><input class="form-control" ng-model="order.dropship"></td>
          <td><div class="form-group" ng-class="{'has-error' : createOrdersForm.supplier.$invalid && submitted}">
            <input type="text" name="supplier" class="form-control" ng-model="order.supplier.id" typeahead="supplier.id for supplier in suppliers | filter:$viewValue | limitTo:8" required>
            </div></td>
          <td><div class="form-group" ng-class="{'has-error' : createOrdersForm.itemName.$invalid && submitted}">
            <input type="text" name="itemName" class="form-control" ng-model="order.itemName" required>
          </div></td>
          <td><input class="form-control" ng-model="order.itemType"></td>
          <td><input class="form-control" ng-model="order.cost"></td>
          <td><input class="form-control" ng-model="order.price"></td>
          <td><a ng-click="deleteRow(order)"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-6"><a ng-click="addRow()" class="btn btn-info">Add row</a></div>
      <div class="col-sm-6"> <a ng-click="saveOrders()" class="btn btn-success">Create Orders</a>
      <button type="submit" class="btn btn-success" type="button">Create Orders</button></div>
    </div>
  </div>
  </form>
  
  <!-- will be deleted -->
  <br>
  <div class="well">
    <p>Temp!
    <p><i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <p><input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="address for address in getLocation($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" class="form-control">
    <input type="text" ng-model="selected" typeahead="supplier.id for supplier in suppliers | filter:$viewValue | limitTo:8" class="form-control">
    <p>json: {{newOrders | json}}</p>
    <p>
    <p>- on page load: request customerId list and supplierId list</p>
    <p>- create button click: 1. validate the orders, 2. send to server, 3. </p>
    <p>                       </p>
  </div>
</div>