<div class="container-fluid theme-showcase" role="main">
  <h3 class="page-header">Search Orders</h3>  
  
  <div class="row">
    <div class="col-sm-2">
      <a href="#/orders/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>  Create Orders</a>
    </div>
    <div class="col-sm-10">
      <form class="form-inline pull-right" role="form">
        <div class="form-group">
          <label for="sort" class="control-label">Sort by:</label>
          <select id="sort" class="form-control" ng-model="sort" ng-options="s.value as s.text for s in sorts"></select>
        </div>
        <div class="form-group">
          <label for="startDate">from</label>
          <input id="startDate" class="form-control input-mysize" ng-model="startDate" show-weeks="false" datepicker-popup="d/MM/yy" max="endDate" placeholder="Start Date"/>
        </div>
        <div class="form-group">
          <label for="endDate">to</label>
          <input id="endDate" class="form-control input-mysize" ng-model="endDate" show-weeks="false" datepicker-popup="d/MM/yy" min="startDate" max="maxDate" placeholder="End Date"/>
        </div>
        <div class="form-group">
          <label class="sr-only" for="customerId">Customer Id</label>
          <input type="text" class="form-control input-mysize" id="customerId" ng-model="customerId" typeahead="customer.id for customer in customers | filter:$viewValue | limitTo:8" placeholder="Customer Id">
        </div>
         <div class="form-group">
          <label class="sr-only" for="supplierId">Supplier Id</label>
          <input type="text" class="form-control input-mysize" id="supplierId" ng-model="supplierId" typeahead="supplier.id for supplier in suppliers | filter:$viewValue | limitTo:8" placeholder="Supplier Id">
        </div>
        <button ng-click="search()" class="btn btn-info">Search  <span class="glyphicon glyphicon-search"></span></button>
        <button ng-click="clear()" class="btn btn-default">Clear</button>
      </form>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Customer</th>
          <th>Supplier</th>
          <th>Item</th>
          <th>Cost</th>
          <th>Price</th>          
          <th>Bought</th>
          <th>Ready</th>
          <th>Paid</th>
          <th>Sent</th>          
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!response.content">
          <td colspan="11" class="text-center">No Record Found</td>
        </tr>
        <tr ng-repeat="order in response.content">
          <td>{{order.date | date:'dd/MM/yy'}}</td>
          <td>{{order.customerId}}<span ng-show="order.dropship"> ({{order.dropship}})</span></td>
          <td>{{order.supplierId}}</td>
          <td>{{order.itemName}}<span ng-show="order.itemType"> ({{order.itemType}})</span></td>
          <td>{{order.cost}}</td>
          <td>{{order.price}}</td>
          <td>{{order.purchased | checkmark}}</td>
          <td>{{order.collected | checkmark}}</td>
          <td>{{order.paid | checkmark}}</td>
          <td>{{order.shipped | checkmark}}</td>
          <td><a href="#/orders/{{order.id}}"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
        </tr>                
      </tbody>
    </table>
  </div>
  <pagination class="pagination pull-right" on-select-page="changePage(page)" total-items="response.totalItems" page="response.pageNumber" max-size="maxSize" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>