<div class="container theme-showcase" role="main">
  <h2 class="page-header"><small><a href="#/orders/create">create orders</a></small> Search Order</h2>
  
  <div class="panel panel-default">
    <div class="panel-heading">Filter</div>
    <div class="panel-body">
      <p>Order Date range
      <p>Customer
      <p>Supplier
    </div>
  </div>
  
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label for="sort">Sort by:</label>
      <select id="sort" class="form-control">
          <option>Latest Order</option>
          <option>Newest Order</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
    <div class="form-group">
      <ul class="pagination pull-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </form>
  
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Customer</th>
          <th>Dropship</th>
          <th>Supplier</th>
          <th>Item</th>
          <th>Colour</th>
          <th>Cost</th>
          <th>Price</th>
          <th>Ready</th>
          <th>Bought</th>
          <th>Sent</th>
          <th>Paid</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>07/03/24</td>
          <td>Ati</td>
          <td>Teddy</td>
          <td>SR</td>
          <td>R1123 batwing</td>
          <td>green</td>
          <td>50</td>
          <td>62</td>
          <td>v</td>
          <td>v</td>
          <td>v</td>
          <td>v</td>
          <td><a href="#/orders/1">x</a></td>
        </tr>                
      </tbody>
    </table>
  </div>
 
  <a href="#/customers/create" class="btn btn-primary">New Customer</a>
</div>